node_red_flow.json
[{"id":"c147c0a7.bea33","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"da8b5528.0caa4","type":"ibmiot in","z":"c147c0a7.bea33","authentication":"apiKey","apiKey":"3e8ed2fe.7bce4e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iot12345","applicationId":"","deviceType":"weather-sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":140,"wires":[["e920d55.22f4ea8","40ee7efa.61947","48aa0d6b.7cded4","2384f056.e623e8","bc92a135.78ef38","2ae741a3.765846"]]},{"id":"e920d55.22f4ea8","type":"debug","z":"c147c0a7.bea33","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":160,"wires":[]},{"id":"40ee7efa.61947","type":"ui_gauge","z":"c147c0a7.bea33","name":"","group":"bc510073.10f2a8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{ msg.payload.temperature}}","min":0,"max":"100","colors":["#808000","#800000","#ca3838"],"seg1":"","seg2":"","x":470,"y":240,"wires":[]},{"id":"48aa0d6b.7cded4","type":"ui_gauge","z":"c147c0a7.bea33","name":"","group":"dfb04546.3f7768","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":300,"wires":[]},{"id":"2384f056.e623e8","type":"ui_gauge","z":"c147c0a7.bea33","name":"","group":"888e464c.a41328","order":0,"width":0,"height":0,"gtype":"gage","title":"wind","label":"units","format":"{{msg.payload.wind}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":360,"wires":[]},{"id":"bc92a135.78ef38","type":"ui_gauge","z":"c147c0a7.bea33","name":"","group":"4b9548eb.899638","order":0,"width":0,"height":0,"gtype":"gage","title":"Rainfall","label":"units","format":"{{msg.payload.Rainfall}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":420,"wires":[]},{"id":"2ae741a3.765846","type":"cloudant out","z":"c147c0a7.bea33","name":"","cloudant":"","database":"weather-data","service":"node-red-gpayq-2020--cloudant-1601582966093-6764","payonly":true,"operation":"insert","x":470,"y":100,"wires":[]},{"id":"3e8ed2fe.7bce4e","type":"ibmiot","z":"","name":"weather-sensor","keepalive":"60","serverName":"rmedrf.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bc510073.10f2a8","type":"ui_group","z":"","name":"temperature","tab":"2fb4b4dc.b38a84","order":4,"disp":true,"width":"6","collapse":false},{"id":"dfb04546.3f7768","type":"ui_group","z":"","name":"humidity","tab":"2fb4b4dc.b38a84","order":1,"disp":true,"width":"6","collapse":false},{"id":"888e464c.a41328","type":"ui_group","z":"","name":"wind","tab":"2fb4b4dc.b38a84","order":2,"disp":true,"width":"6","collapse":false},{"id":"4b9548eb.899638","type":"ui_group","z":"","name":"Rainfall","tab":"2fb4b4dc.b38a84","order":3,"disp":true,"width":"6","collapse":false},{"id":"2fb4b4dc.b38a84","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]